@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@700&family=Tajawal:wght@400;700&display=swap');

:root{
    --red-rjaro:#bb0808;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}



/* ------------------------------------------------ */
/* all basics */
html{
    /* احدد حجم ثابت بحيث rem يضرب في ١٠ ويعطي الحجم اللي اباه */
    font-size: 10px;
}

body{
    font-family: 'Tajawal', sans-serif;
    background: rgb(255, 255, 255);
}

h1{
    font-size: 5rem;
    margin-bottom: 1rem;
    margin-top: 0;
    color: rgb(0, 0, 0);
    text-align: center;
}


h3{ 
    font-size: 2rem;
    line-height: 1.8; /* الارتفاع */
    margin-bottom: 2rem;
    color: rgb(255, 255, 255);
}

p{
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    line-height: 2; /* الارتفاع */
}

/* ------------------------------------------------ */
/* nav section */
.nav-container {
    background: rgb(194, 0, 0);
    color: black;
}

nav{
    width: 90%; /* يزحف تقريبا ٩٠ بالميه */
    margin: 0 auto;
    max-width: 1366px; /* القوائم تاخد مساحات ثابته ماتتغير حتى لو صغرت الشاشه */
    display: flex; /* كل قائمه تكون لحال */
    justify-content: space-between; /* يوزع المحتويات على الطرفين */ 
    align-items: center;  /* يوزع القوائم في النص */
    min-height: 10vh;
    font-size: 16px;
}

nav .logo{
    width: 20rem;
}

nav ul{
    display: flex; /* كل قائمه تكون لحال */
    list-style-type: none; /* يشيل النقاط */
    justify-content: space-between; 
}

nav ul li a{
    display: block;
    color: aliceblue;
    text-decoration: none; /* نشيل الخط اللي تحت العناويين فوق */
    padding-left: 4rem;
} 

nav ul li a:hover{
    color: rgb(160, 160, 160);
} 


/* ------------------------------------------------------------------------------------------------- */
form  {
    width: 500px;
    margin: 0 auto;
    padding: 50px;
  }
  
  label {
    display: block;
    font-family: 'Nanum Gothic';
    padding-bottom: 10px;
    font-size: 2.5em;
    text-align: left;
  }
  
  input, select, textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
  }
  
  textarea {
    height: 250px;
  }
  
  hr {
    border: 1px dotted #ccc;
    justify-content: space-between;
  }
  
  .bot {
    height: 50px;
    width: 80px;
    background: rgb(194, 0, 0);
    border: none;
    color: white;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    cursor: pointer;
    margin-right: 40%;
  }
  
  .bot:hover {
    border: 2px solid black;
  }


